body {
	margin: 0;
	color: #000;
	background: #fff;
	font: 14px/16px Arial, helvetica, sans-serif;
}
/* General reset */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	border-style: none;
	display: block;
}
input, select, textarea {
	vertical-align: middle;
	display: block;
	outline: none;
	font: 14px/16px Arial;
	color: #888;
}
label, input[type="submit"]{
	cursor: pointer;
}
a {
	color: #f00;
	text-decoration: none;
}
a:hover {text-decoration: underline;}
/* General settings */
#wrapper {
	margin: 0 auto;
	max-width: 962px;
	background: #efefef;
	overflow: hidden;
	padding: 24px 15px 12px 24px;
}
/*-------------- Gallery ----------------*/
.gallery {
	width: 100%;
	background: #fff;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
}
.gallery .list-holder {
	width: 100%;
	padding: 10px 10px 12px 37px;
	overflow: hidden;
}
.gallery .list {
	float: left;
    width: 29%;
}
.gallery .list li {
	float: left;
	width: 100%;
	overflow: hidden;
}
.gallery .list li img {
	width: 100%;
}
.gallery .info {
	width: 66.6%;
	float: right;
	background: #f7f7f7;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 20px 20px 35px;
}
.gallery .info li h2 {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
}
/*---------------- Switcher -----------------*/
.switcher-holder {
	margin: 0 10px;
	border-top: 1px solid #ccc;
	position: relative;
	height: 100px;
}
.switcher-wrapper {
	margin-left: 35%;
}
.switcher {
	padding: 11px 0;
	overflow: hidden;
	position: absolute;
}
.switcher li {
	float: left;
	margin: 0 7px 0 0;
}
.switcher li a {
	color: #000;
	display: block;
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 16px;
	z-index: 2;
	position: relative;
	transition: border 0.5s ease-out;
	transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-webkit-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	-ms-transition: color 0.5s ease-out;
}
.switcher li.active a {
	color: #fff;
	border: none;
	padding: 5px 10px;
}
.switcher li.active a:hover {
	border: none;
	padding: 5px 10px;
}
.switcher li a:hover {
	border: 1px solid #ccc;
	padding: 4px 9px;
	text-decoration: none;
	
}
.switcher-background-holder {
	width: 100%;
	padding: 11px 0;
}
.switcher-background {
	z-index: 1;
	background: #7e7976;
	border-radius: 4px;
	position: relative;
}
/*-------------------- Left and right buttons ------------*/
a.prev, a.next {
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 28px;
	height: 28px;
	color: #ccc;
	text-align: center;
	padding: 4px 0 0;
	position: absolute;
	top: 10px;
}
a.prev:hover, a.next:hover {
	border: 1px solid #000;
	text-decoration: none;
	color: #000;
}
a.next {
	right: 0;
}
a.prev {
	left: 0;
}